@media screen and (min-width: 980px)
	header
		max-width 1200px
		.main-nav
			.ico-burger-open
				display none
			.translate
				height 55px
				right 0
				display flex
				justify-content center
				transition none
				background-image none
				.ico-burger-close
					display none

				li
					margin 0 .8rem

	.first
		display-flex
		justify-content space-around
		article
			width 45%
			p 
				text-align left
		picture
			width 45%

	section .para-align-left picture
		float left
		
	.last .storm
		width 100%


	footer
		small 
			display block
			color silver
			text-align center
			padding 2rem 0 0 0
		div
			ul 
				width 30%
			.link
				width 30%


				

	
	