@media screen and (min-width: 980px)
	header
		max-width 1200px
		.main-nav
			.ico-burger-open
				display none
			.translate
				height 55px
				right 0
				display flex
				justify-content center
				transition none
				background-image none
				.ico-burger-close
					display none

				li
					margin 0 .8rem

	.first
		display-flex
		justify-content space-around
		article
			width 45%
			p 
				text-align left
		picture
			width 45%
			
	section.first
		height 550px
		background-size: 75% auto
	
	section.second 
		article
			position relative
			display flex
			div
				width 50%
			picture
				margin 0 auto
				bottom 20px
				.ps4
					display block
					width 80%
					height auto
					position: sticky
					top: 50px
			
		
	.last .storm
		width 100%


	footer
		background url("../img/darthvader_2x.jpg") center top 600px no-repeat fixed
		background-size 100% auto
		small 
			display block
			color silver
			text-align center
			padding 2rem 0 0 0
		div
			ul 
				width 30%
			.link
				width 30%


				

	
	