*
	margin 0
	padding 0
	
body
	font-size 16px
	font-family sans-serif
	max-width 1200px
	margin 0 auto
	background-color black

/*main
	padding-top 55px*/
	
section 
	&.first
		height 300px
		padding-top 55px
		background-color initial
		background url("../img/header.png") no-repeat center 65px fixed;
		background-size 100% auto
		img
			width 100%
			height auto
	&.second
		background-color white
	h2
		font-size 1.2rem
		text-align center
		padding 1rem
	p
		padding 1rem
		text-align center
		line-height 1.3rem
	.ps4
		display none
	.para-align-left
		text-align left
		picture
			display block
			text-align center
		
	ul 
		display none

.img-division
	width 100%
	height auto

.last
	position relative
	height 250px
	.storm
		position absolute
		right 0
		overflow hidden
		z-index -10